@import "_variables";
@import "_defaults";
@import "_font";

// Sidebar
.sidebar {
  align-items: flex-end;
  min-height: 100vh;
  width: 17%;
  position: relative;
}

.sidebar-wrapper {
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
}

// -sidebar operations

.sidebar-operations {
  margin-top: 100px;
  margin-bottom: 55px;
}

.sidebar-operations__balance {
  align-items: flex-start;
  margin-bottom: 12px;
}

.sidebar-operations__icons {
  justify-content: flex-start;
}

.operation-icon {
  height: 32px;
  width: 32px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  transition: .2s;
}

.operation-icon img {
  display: block;
  max-width: 50%;
  max-height: 50%;
}

.operation-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

// -sidebar devider
.sidebar-devider {
  content: "";
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 220px;
}


// -sidebar menu
.sidebar-menu {
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu-item {
  justify-content: flex-end;
  height: 60px;
  width: 66px;
  padding-bottom: 16px;
  margin: 0 27px 28px 0;
  border-radius: 13px;
  text-decoration: none;
  transition: .2s;
}

.menu-item:hover {
  background: $primaryColorDark;
}

.menu-item--active {
  background: $primaryColorDark;
}

.menu-item img {
  display: block;
  max-width: 30%;
  max-height: 50%;
}

// Main
.main {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 83%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 40px;
  background: $bgColor;
}

.main-wrapper {
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.reviews-btn {
  padding: 0 40px;
  letter-spacing: 2px;
  transform: rotate(-90deg);
  position: absolute;
  top: 280px;
  right: -60px;

  &:hover {
    transform: rotate(-90deg);
  }
}

// -Main header

.main-header {
  align-items: flex-start;
  justify-content: flex-start;
  height: 132px;
  margin-bottom: 75px;
  border-radius: 30px 0 0 30px;
  background: $additionalColor;
}

.header-controls {
  height: 54px;
  padding-left: 10px;
  border-radius: 30px 0 0 30px;
  background: #ffffff;
}

.header-contorls__btn {
  align-items: flex-start;
}

.menu-button {
  display: none;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: scroll url(../../img/icons/menu.png) center no-repeat, $primaryColor;

  &:hover {
    cursor: pointer;
  }
}

.header-contorls__btn .btn {
  height: 38px;
  padding: 0 15px;
  box-shadow: none;
}

.header-controls__notification {
  height: 16px;
  width: 20px;
  margin-right: 30px;
  background: scroll url(../../img/icons/notification.png) center/contain no-repeat;
}

.header-controls__user {
  justify-content: flex-end;
}

.user-icon {
  height: 26px;
  width: 26px;
  margin: 0 16px 0 8px;
  border-radius: 10px;
  background: $primaryColor;
}

.font-page-title {
  padding: 30px 0 0 32px;
  letter-spacing: 1px;
}

// -main content

.main-content {
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 34px;

  & .row {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.card {
  .card-inner-col {
    align-items: flex-start;
  }
}

.card-payments {
  width: 33%;
}

.card-info {
  width: 32%;
}

.card-security {
  width: 31%;
}

.card-elem__icon {
  flex: 0 0 auto;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  border-radius: 10px;
  background: rgba(199, 42, 32, 0.2);
}

.card-elem__icon img {
  display: block;
  max-width: 50%;
  max-height: 50%;
}

.card-elem {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  position: relative;

  .card-elem__content {
    width: 100%;
  }

  &:last-child {
    margin: 0;
  }
}

.card-elem__icon-text {
  @include font(16px, 600, $primaryColor);
}

// --card-info

.pill {
  display: block;
  padding: 3px 12px;
  border-radius: 12px;
  background: $primaryColor;
  position: absolute;
}

.card-security .card-elem:first-child .pill {
  top: 15px;
  right: 34px;
}

.card-security .card-elem:nth-child(2) .pill {
  top: 14px;
  right: -20px;
}

.pass-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 2px;
  border-radius: 50%;
  background: $primaryColor;
}

.info-box {
  @include font(12px, 500, #ffffff);
  padding: 20px 12px;
  background: $primaryColor;
  border-radius: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}

// --card security

.card-security {
  padding: 25px 25px 25px 20px;
}

.card-security .card-elem {
  position: relative;
}

a {
  text-decoration: none;
}

// Media quaries

@media (max-width: 1150px) {
  .sidebar-operations__icons {
    flex-wrap: wrap;
  }

  .menu-item {
    margin: 0 10px 15px 0;
  }

  .menu-item:nth-child(2n) {
    margin: 0;
  }

  .card-security .card-elem:first-child .pill,
  .card-security .card-elem:nth-child(2) .pill {
    right: auto;
    left: 44px;
    top: 26px;
  }
}

@media (max-width: 1030px) {

  .sidebar-operations {
    margin-bottom: 13px;
  }

  .operation-icon:nth-child(2n) {
    margin-right: 70px;
  }

  .sidebar-devider {
    top: 234px;
  }

  .card {
    padding: 25px 10px 15px;
  }
}

@media (max-width: 940px) {
  .container {
    padding: 0 10px;
  }

  .sidebar {
    flex: 0 0 120px;
  }

  .sidebar-devider {
    top: 144px;
  }

  .sidebar-operations {
    margin-top: 10px;
  }

  .operation-icon:nth-child(2n) {
    margin-right: 25px;
  }

  .menu-item {
    margin: 0 30px 20px 0;
  }

  .menu-item:nth-child(2n) {
    margin: 0 30px 20px 0;
  }

  .main {
    width: 100%;
  }

  .main-wrapper {
    min-height: 636px;
  }

  .main-header {
    margin-bottom: 30px;
  }

  .main-content>.row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card {
    width: 45%;
    margin-right: 30px;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card:nth-child(3) {
    margin-top: -76px;
  }

  .reviews-btn {
    right: -55px;
  }
}

@media (max-width: 768px) {

  .main-content>.row {
    flex-direction: column;
  }

  .card {
    width: 100%;
    padding: 25px 20px 15px;
    margin: 0 10px;
  }

  .card:nth-child(3) {
    margin-top: 0;
  }

  .main-content {
    padding-left: 10px;
  }

}

@media (max-width: 520px) {

  body {
    background: none;
  }

  .container {
    flex-direction: column;
    padding: 0;
    position: relative;
  }

  .sidebar-devider {
    display: none;
  }

  .sidebar {
    width: 100%;
    min-height: 100vh;
    background: $primaryColor;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(-100%);
    transition: .2s;
  }

  .sidebar--active {
    opacity: 1;
    transform: translateY(0);
  }

  .sidebar-operations {
    padding-top: 35px;
    padding-left: 40px;
    margin: 0 0 50px 0;
  }

  .operation-icon:nth-child(2n) {
    margin-right: 10px;
  }

  .sidebar-menu {
    width: 280px;
  }

  .menu-button {
    display: flex;
  }

  .menu-button--active {
    background: scroll url(../../img/icons/cross.png) center no-repeat, $primaryColor;
    z-index: 6;
    position: absolute;
    top: 14px;
    right: 20px;
  }

  .menu-item {
    width: 80px;
    height: 75px;
    padding-bottom: 20px;
    margin: 0 60px 32px 0;
  }

  .font-menu {
    @include font(10px, 500, $secondaryTextColor);
    padding-top: 3px;
  }

  .menu-item:nth-child(2n) {
    margin: 0 0 0 auto;
  }

  .main-content {
    padding: 0px 10px;
  }

  .main-header,
  .header-controls {
    border-radius: 0;
  }

  .header-controls {
    height: 50px;
    padding-bottom: 10px;
  }

  .main-header {
    height: 155px;
    margin-bottom: 25px;
  }

  .font-page-title {
    padding: 40px 10px 0 10px;
  }

  .font-card-heading {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .user-icon {
    margin-right: 12px;
  }

  .header-contorls__btn a {
    display: none;
  }

  .card {
    padding: 44px 25px 34px;
    margin: 0 0 32px;
  }

  .card:nth-child(2) {
    margin: 0 0 32px;
  }

  .card-elem {
    align-items: center;
    margin-bottom: 28px;
    margin-left: 5px;
  }

  .card-elem:last-child {
    margin: 0 0 0 5px;
  }

  .font-card-content-title {
    margin-bottom: 14px;
  }

  .btn {
    height: 36px;
    padding: 0 14px;
  }

  .font-btn {
    @include font(9px, 600, $btnTextColor);
  }

  .reviews-btn {
    height: 44px;
    padding: 0 46px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    right: -48px;
    top: 250px;
  }

  .card-elem__title {
    @include font(10px, 600, $primaryTextColor);
    width: 100%;
    letter-spacing: 0.6px;
  }

  .card-elem__text {
    @include font(14px, 700, $primaryColor);
    width: 100%;
  }

  .card-elem__icon {
    width: 45px;
    height: 45px;
  }

  .card-elem__icon-text {
    @include font(23px, 600, $primaryColor);
  }

  .info-box {
    @include font(16px, 500, #ffffff);
    margin: 0 20px;
  }

  .pill {
    padding: 3px 20px;
    font-size: 12px;
  }

  .card:nth-child(3) {
    padding-bottom: 54px;
  }

  .card-security .card-elem:first-child .pill {
    left: 153px;
    top: 20px;
  }

  .card-security .card-elem:nth-child(2) .pill {
    left: 210px;
    top: 20px;
  }
}