$red-color: #cc2c22;
$lilac-color: #263238;
$color-black: #121212;
$color-black-01: #010101;

// mixin

@mixin small-span {
  font-size: 10px;
  color: $color-black-01;
  letter-spacing: 0.5px;
  font-weight: 700;
}

@mixin small-h {
  font-size: 25px;
  color: $color-black-01;
  letter-spacing: 0.5px;
  font-weight: 800;
}