// Colors
$primaryColor: #cc2c22;
$primaryTextColor: #263238;
$secondaryTextColor: #121212;
$additionalTextColor: #8a8a8a;
$btnTextColor: #ffffff;
$pillTextColor: #ffffff;

$topCircleColor1: #ecebeb; //small
$topCircleColor2: #f1f0f0; //middle
$topCircleColor3: #f6f5f5; //big

$bottomCircleColor1: #e4e4e4; //small
$bottomCircleColor2: #e9e9e9; //middle
$bottomCircleColor3: #eeeeee; //big

$bottomOutlineCircleColor: #6b6b6b40;

// Units

$pillPadding: 5px 20px;
$btnPadding: 25px 50px;
$sectionTitleMarginBottom: 40px;